.core-component-searchresult {
  .searchResultContainer {
    margin-top: 5px;
    text-align: left;
    background-color: @gray-light;
    padding: 0.5em;
    cursor: pointer;
  }

  .searchResultContainer:hover {
    background-color: @white;
  }
}
