.core-component-searchresult {
  .searchResultContainer {
    margin-top: 5px;
    text-align: left;
    background-color: @gray-light;
    padding: 0.5em;
    cursor: pointer;
  }

  .searchResultContainer:hover {
    background-color: @white;
  }
  .selectedSearchResult {
    outline: 1px solid @kajona-brand-color;
    border-color: @kajona-brand-color;
    box-shadow: 0 0 5px @kajona-brand-color;
    background-color: @white;
  }
}
