.core-component-wysiwygeditor {

  .pell-content {
    height: 300px;
    outline: 0;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .pell-actionbar {
    background-color: @gray-lighter;
  }

  .pell-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: 0;
    width: 30px;
    vertical-align: bottom;
  }

  .pell-button-selected, .pell-button:hover {
    background-color: @kajona-gray;
  }

  .display-none {
    display: none;
  }

}
